#health_center_main table {
  width: auto;
  margin: 2em auto;
}
  

#health_center_main tbody th {
  text-align : right;
}

#health_center_main p.note {
  font-family : Georgia,"Times New Roman",serif;
  font-style : italic;
}

#health_center_main table td div.nr { font-size: inherit; }
#health_center_main table { font-size: small; }
#health_center_main table td, th.label { width: 75px; padding: 0; }
#health_center_main table th.label { white-space: normal; }
#health_center_main table tbody td {  border: 0; }
#health_center_main table colgroup.group { border-right: 5px solid #F6F6F6; }
#health_center_main table tbody td { background: white; }
#health_center_main table tbody th { padding: 0; }
#health_center_main table thead th { text-align: center; }
#health_center_main table th { border: 0; vertical-align: middle; }
#health_center_main table thead th.empty {background: inherit;}

#health_center_main table div.tally {
  background-color:lightgray;
  margin:1px;
  padding:0 0 20px;
  position:relative;
}

#health_center_main table div.tally > input {
border: 1px solid gray;
display:block;
font-size:larger;
margin:1px 1px 0 1px;
padding:0;
text-align:right;
width:69px;
}

#health_center_main table div.tally div.nr { 
  position: absolute; 
  top: 18px; 
  left: 2px; 
  padding: 0; 
  margin: 0; 
}

#health_center_main table div.boolean { 
  white-space: nowrap;
  font-size: larger;
}


