<h2><%=t('breadcrumb.pickups',:name => @zone.name)%></h2>

<div class="span-8 prepend-8">
<h3><%=t('inventory.recent_pickups')%></h3>

<ul>
  <%- @visits.each do |visit| -%>
    <li><%= link_to(l(visit.date),
                    edit_pickup_request_url(@zone.code, visit.id)) %></li>
  <%- end -%>
</ul>

<%= link_to( t('inventory.new_pickup'), new_pickup_request_path(@zone.code) )%>

</div>
