    <h5><%= t('reports.products') %>:</h5>
    <ul class="radio">
      <% Product.trackable.sort.each do |t| %>
        <li>
          <%= check_box_tag('product', t.label, true, :id => "product_#{t.id}") %>
          <%= label_tag("product_#{t.id}", t.label) %>
        </li>
      <% end %>
    </ul>

