<h2><%= t('reports.index.fridge_issues_by_date') %></h2>
<%= render :partial => 'graphs', :locals => { :interactive_parameters => [], :graphs => @graphs, :tab_graphs => @tab_graphs, :tab_graph_dimension => @tab_graph_dimension } %>

