<h2><%= t('reports.index.mapping') %></h2> 
<ul>
<li><%= link_to t('reports.index.coverage_map_by_date'), :action => 'target_coverage_map' %></li>
<li><%= link_to t('reports.index.stockouts_map_by_date'), :action => 'stockouts_map' %></li>
</ul>

