<style>
#health_centers { width: 200px; float: left; }
#health_centers ul { padding-left: 1em;  }
#health_centers li { display: block; list-style-type: none; }
#autoeval { margin-left: 220px; }
#health_centers > div { height: 300px; overflow-y: scroll; }
#health_centers > h4  { cursor: pointer; text-decoration: underline; color: #09c;  }
</style>
<div id="health_centers"></div>
<div id="autoeval">
</div>
<br clear="both" />
<script type="text/javascript" src="/javascripts/olmis_offline_autoeval.js"></script>
<script type="text/javascript" src="/javascripts/olmis_collapsible_report.js"></script>

