<div class="mini_report" id="equipment_list">
<% if visit = HealthCenter.find_by_id(params[:id]).maybe.most_recent_visit %>
<h3><%= t('.equipment_header', :date => I18n.l(visit.date), :user => visit.field_coordinator_name) %></h3>
<% end %>
</div>
