<div class="mini_report" id="fridge_status_list">
<h3><%= t('.recent_fridge_statuses') %></h3>
<%-
  params.merge!(@params) if @params
  scope ||= FridgeStatus
  limit ||= 10
  offset ||= 0
  exclude_columns ||= params[:exclude_columns].blank? ? [] : params[:exclude_columns].map(&:to_sym)
  columns ||= if params[:columns].blank?
                exclude_columns += [:fridge_health_center, :fridge_district] if params[:suppress_location]
                [:fridge_code, :fridge_health_center, :fridge_district, :status_code, :temperature, :date, :other_problem, :reported_by] - exclude_columns
              else
                params[:columns].map(&:to_sym)
              end

  fridge_statuses = params[:report_scope].blank? ? scope : scope.send(*params[:report_scope].split(','))
-%> 
<%= render :partial => '/mini_reports/table', 
  :locals => {
    :data => fridge_statuses,
    :sql_options => { :include => [ :user, :fridge, { :stock_room => { :health_center => :administrative_area } } ] },
    :sort_by => :date,
    :columns => columns,
    :identifier => 'fridge_status_list',
    :model => FridgeStatus,
    :limit => limit,
    :offset => offset } %>
</div>
