<%  options =
    Olmis.area_hierarchy.map { |h|
      [ h.name, h.all.sort.map { |a| a.label, "in_#{a.table_name.singularize},#{a.id}" } ]
    }
%>
<label for="report_scope"><%= I18n.t('shared.fridge_location_scope.fridge_location') %></label>
<%= select_tag :report_scope, grouped_options_for_select(options, params[:report_scope]) %>

